*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    
}

html {
    height: 100%;
    width: 100%;
    
}

body{
    width: 100%;
    min-height: 100%;
    background:linear-gradient(90deg,black, coral);
    color: rgba(255, 255, 255, 0.487);
    font-family:agency FB, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
}

.headertop{
    display: flex;
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    
}
header img{
    padding-top: 0.5cm;
}



.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:x-large;
    border: rgba(255, 255, 255, 0.163) 0.2cm solid;
    height: 100%;
    margin: 0.5cm;
}

.flex-container div {
    padding: 00.5cm;
    margin: 00.5cm;
    
}


footer {
    display: flex;
    background-color: rgb(0, 0, 0);
    border-color: black;
    align-items: center;
    justify-content: center;
    margin-top: 1.5cm;
    position: fixed;
    bottom: 0;
    width: 100vw;

    
}

svg {
    color: white;  
    margin-left: 15px; 
}

#svg-icons {
    margin: 10px;
    text-align: center;
}


.entrar-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 0.7cm;
    
    
}

.entrar {
    align-items: center;
    justify-content: center;
    border: rgba(255, 255, 255, 0.163) 0.1cm solid;
    width:15%;
    padding: auto;
}

.entrar div {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

body a{
    
    color: rgba(255, 255, 255, 0.487);
    font-family:agency FB, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: smaller;
}